project     = "cloud-email-analyzer"
env         = "dev"
region      = "eu-central-1"
domain_name = "agg.services"

# Use ECR image URIs (built/pushed in CI)
init_ledger_image_uri         = "...:latest"
parse_email_image_uri         = "...:latest"
extract_attachments_image_uri = "...:latest"

tags = { Owner = "ovidiu" }
