project     = "cloud-email-analyzer"
env         = "dev"
region      = "eu-central-1"
domain_name = "agg.services"   # once Route53 is authoritative

# Supply ECR image URIs for the target AWS account
init_ledger_image_uri         = "...:latest"
parse_email_image_uri         = "...:latest"

tags = { Owner = "ovidiu" }
